* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: auto;
    background-color: #1F2937;
    padding: 0px 200px;
    padding-bottom: 100px;
}

.navbar {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    height: 60px;
}

#logo {
    margin: 20px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar .list ul {
    display: flex;
}

.navbar .list ul li{
    margin: 20px;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header .container:nth-last-of-type(1){
    margin: 0px 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.container2 {
    color: lightgray;
    width: 100%;
    height: 210px;
    background: gray;
    text-align: center;
    padding-top: 105px;
}
.container1 {
    width: 400px;
    padding-right: 10px;
    margin-right: 50px;
}

h1 {
    line-height: 2.5rem;
    width: 500px;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #f9Faf8;
}

.container1 p {
    line-height: 1.4rem;
    margin-bottom: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    padding: 5px 25px;
    background: #3882f6;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    border-color: #1F2937;
}

section {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: white;
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.slides {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

figure {
    height: 300px;
    width: 250px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.image {
    border: 4px solid #3882f6;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 5px;
}

figcaption {
    text-align: center;
    color: rgb(46, 49, 51);
    font-size: bold;
}   