* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: auto;
    background-color: #1F2937;
    padding: 0px 200px;
}

.navbar {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    height: 60px;
}

#logo {
    margin: 20px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar .container ul {
    display: flex;
}

.navbar .container ul li{
    margin: 20px;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

